
@font-face {
    font-family: 'TrajanPro';
    src: url('./assets/TrajanPro.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'CabinetGrotesk';
    src: url('/assets/CabinetGrotesk.otf') format('opentype');
  }
  